<article class="card mb-4 w-100 border-0">
      <div class="row g-0">
        <div class="col-3">
          <div class="border rounded w-100 mb-3 ratio ratio-1x1">
            <img
                src="img.png"
                class="img-fluid rounded object-fit-cover"
                alt=""
            />
          </div>
          <div class="input-group flex-nowrap">
            <input type="number" value="{{ question.get_votes }}" class="form-control"/>
          </div>
        </div>
        <div class="col">
          <div class="card-body h-100 p-0 px-3">
            <div class="mb-3">
              <p class="card-text">
                {{ question.text }}
              </p>
            </div>
            <div>
              <span>Tags:</span>
              {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag %}">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </article>