{% extends 'layouts/base.html' %}

{% block content %}

  <h1 class="fs-3 mb-3">Log In</h1>

  <div class="col-8">

    {% if True %}
      <div class="d-inline-block alert alert-danger" role="alert">
        Invalid login or password
      </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-field mb-3">
        <label for="login" class="col-form-label">Login</label>
        <input
            type="text"
            id="login"
            name="login"
            class="form-control"
            placeholder="Enter your login"
            minlength="1"
            maxlength="31"
        >
      </div>

      <div class="form-field mb-3">
        <label for="password" class="col-form-label">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter your password"
            minlength="1"
            maxlength="63"
        >
      </div>

      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>

{% endblock %}
