{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <h1 class="fs-3 mb-3">
    <a href="/question.html" class="text-black text-decoration-none">Question?</a>
  </h1>

  <hr>

  <div class="col-8">

    {% include 'layouts/question_card.html' with question=question %}

    <h2 class="mb-3 fs-4">Answers</h2>

    {% for answer in answers %}
      {% include "layouts/answer_card.html" with answer=answer %}
    {% empty %}
      <p>No answers yet</p>
    {% endfor %}

    {% include "layouts/pagination.html" %}

    <hr>

    <form method="post" enctype="multipart/form-data">
      <textarea name="answer" id="answer" cols="30" rows="3" class="form-control mb-2"
                placeholder="Enter your answer here..."></textarea>
      <button type="submit" class="btn btn-primary">Answer</button>
    </form>

  </div>


{% endblock %}
