{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="d-flex gap-3 align-items-center">
    <h1 class="fs-3">
      <a href="{% url 'question' question.id %}" class="text-black text-decoration-none">
        {{ question.title }}
      </a>
    </h1>
    <a href="{% url 'new_question' %}" class="ms-auto">
      <button class="btn btn-primary ">
        Ask Question
      </button>
    </a>
  </div>

  <div>
    <small class="text-muted">
      Asked {{ question.creation_date|timesince }} ago
    </small>
    <hr>
  </div>


  <div class="col-8">

    {% include 'components/question_details.html' with question=question %}

    <h2 class="mb-3 fs-4">Answers</h2>

    {% for answer in answers %}
      {% include "components/answer_card.html" with answer=answer %}
    {% empty %}
      <p>No answers yet</p>
    {% endfor %}

    {% include "components/pagination.html" with page=answers %}

    <hr>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <textarea name="answer" id="answer" cols="30" rows="3" class="form-control mb-2"
                placeholder="Enter your answer here..."></textarea>
      <button type="submit" class="btn btn-primary">Answer</button>
    </form>

  </div>


{% endblock %}
