{% extends 'layouts/base.html' %}

{% block content %}

  <h1 class="fs-3 mb-3">Sign Up</h1>

  <div class="col-8">

    {% if True %}
      <div class="d-inline-block alert alert-danger" role="alert">
        User with this login and/or email already exists
      </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-field mb-3">
        <label for="login" class="col-form-label">Login</label>
        <input
            type="text"
            id="login"
            name="login"
            class="form-control"
            placeholder="pupkin123"
            minlength="1"
            maxlength="31"
            required
        >
        <div class="form-text">Used for signing in, will not be visible to other users.
          Must be 1-31 characters long
        </div>
      </div>

      <div class="form-field mb-3">
        <label for="email" class="col-form-label">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="pupkin@mail.ru"
            minlength="1"
            maxlength="63"
            required
        >
      </div>

      <div class="form-field mb-3">
        <label for="nickname" class="col-form-label">Nickname</label>
        <input
            type="text"
            id="nickname"
            name="nickname"
            class="form-control"
            placeholder="Vasya Pupkin"
            minlength="1"
            maxlength="31"
            required
        >
        <div class="form-text">Your public name, will be visible for other users.
          Must be 1-31 characters long
        </div>
      </div>

      <div class="form-field mb-3">
        <label for="password" class="col-form-label">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter your password"
            minlength="6"
            maxlength="63"
            required
        >
        <div class="form-text">Must be 6-63 characters long</div>
      </div>

      <div class="form-field mb-3">
        <label for="confirm-password" class="col-form-label">Confirm password</label>
        <input
            type="password"
            id="confirm-password"
            name="confirm_password"
            class="form-control"
            placeholder="Confirm your password"
            minlength="6"
            maxlength="63"
            required
        >
      </div>
      
      <div class="form-field mb-3">
        <label for="avatar" class="col-form-label">Avatar</label>
        <input
            type="file"
            id="avatar"
            name="avatar"
            accept="image/*"
            class="form-control"
        >
      </div>

      <button type="submit" class="btn btn-primary my-3">Register</button>
    </form>
  </div>

{% endblock %}
