{% extends 'layouts/base.html' %}

{% block content %}

  <div class="col-8">

    <div class="mb-3">
      <div class="d-flex gap-3 align-items-start">
        <h1 class="fs-2">Tag: {{ tag }}</h1>
        <a href="{% url 'new_question' %}" class="ms-auto">
          <button class="btn btn-primary ">
            Ask Question
          </button>
        </a>
      </div>
    </div>

    {% for question in questions %}
      {% include "layouts/question_card.html" with question=question %}
    {% empty %}
      <p>No questions yet</p>
    {% endfor %}

    {% include "layouts/pagination.html" with page=questions %}

  </div>

{% endblock %}
