<article class="card mb-3 w-100">
  <div class="row g-0">
    <div class="col-3 p-3">
      <div class="border rounded w-100 mb-3 ratio ratio-1x1">
        <img
            src="img.png"
            class="img-fluid rounded object-fit-cover"
            alt=""
        />
      </div>
      <div class="input-group">
        <input type="number" value="{{ answer.get_votes }}" class="form-control"/>
      </div>
    </div>
    <div class="col">
      <div class="card-body h-100">
        <div class="mb-3">
          <p class="card-text">
            {{ answer.text }}
          </p>
        </div>
        <div class="d-flex align-items-center fs-5">
          <input type="checkbox" id="answer-{{ answer.id }}">
          <label for="answer-{{ answer.id }}" class="mx-2">Correct!</label>
        </div>
      </div>
    </div>
  </div>
</article>