<div class="d-flex justify-content-between gap-3">
    {% if True %}
    <!-- User is logged in -->
    <div class="border">
        <img src="img.jpg" width="50" height="50" alt=""/>
    </div>
    <div class="d-flex flex-column justify-content-between">
        <div>Dr. Pepper</div>
        <div>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="/logout.html">Log out</a>
        </div>
    </div>
    {% else %}
    <!-- User is not logged in -->
    <div>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Register</a>
    </div>
    {% endif %}
</div>